.showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 40px 0;
  gap: 40px;
  justify-content: center;
  margin: 80px 0 80px;
}

.showcase__card {
  /* width: 500px;
    height: 300px; */
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  cursor: pointer;

  /* &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.8);
    top: -4px;
    border-radius: 10px;
  } */
}

.showcase__card:hover .showcase__image {
  filter: brightness(80%);
  transition: filter 0.4s ease-in-out;
}

.showcase__card:hover .showcase__title {
  opacity: 0.3;
  transition: opacity 0.4s ease-in-out;
}

.showcase__card:hover .showcase__paragraph {
  opacity: 0.3;
  transition: opacity 0.4s ease-in-out;
}

.showcase__image {
  /* width: 700px;
  height: 450px; */
  width: 700px;
  height: 400px;
  position: absolute;
  z-index: -1;
  filter: brightness(50%);
  transition: filter 0.4s ease-in-out;
  pointer-events: none;
}

/* .showcase__card:hover .showcase__image {
  filter: brightness(100%);
  transition: filter 1s ease-in-out;
} */

.showcase__title {
  margin: 0;
  color: white;
  font-size: 40px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.showcase__paragraph {
  margin: 0 auto 0;
  color: white;
  font-size: 20px;
  text-align: left;
  max-width: calc(100% - 100px);
  font-weight: 600;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

@media screen and (max-width: 1600px) {
  .showcase__card {
    width: 500px;
    height: 300px;
  }
  .showcase__image {
    width: 500px;
    height: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .showcase__card {
    width: 400px;
    height: 250px;
  }
  .showcase__image {
    width: 400px;
    height: 250px;
  }
}

@media screen and (max-width: 1000px) {
  .showcase__card {
    width: 300px;
    height: 170px;
  }
  .showcase__image {
    width: 300px;
    height: 170px;
  }
}

@media screen and (max-width: 800px) {
  .showcase {
    gap: 20px;
  }
}
