.showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 40px 0;
  gap: 40px;
  justify-content: center;
  margin: 40px 0 40px;
}

.showcase__card {
  width: 700px;
  height: 450px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  cursor: pointer;
}

.showcase__card:hover .showcase__image {
  filter: brightness(80%);
  transition: filter 0.5s ease-in-out;
}

.showcase__card:hover .showcase__title {
  /* filter: brightness(100%); */
  opacity: 0.4;
  transition: opacity 0.5s ease-in-out;
}

.showcase__card:hover .showcase__paragraph {
  /* filter: brightness(100%); */
  opacity: 0.4;
  transition: opacity 0.5s ease-in-out;
}

.showcase__image {
  width: 700px;
  height: 450px;
  position: absolute;
  z-index: -1;
  filter: brightness(50%);
  transition: filter 1s ease-in-out;
  pointer-events: none;
}

/* .showcase__card:hover .showcase__image {
  filter: brightness(100%);
  transition: filter 1s ease-in-out;
} */

.showcase__title {
  margin: 0;
  color: white;
  font-size: 40px;
  text-align: center;
}

.showcase__paragraph {
  margin: 0 auto 0;
  color: white;
  font-size: 20px;
  text-align: left;
  max-width: calc(100% - 100px);
  font-weight: 600;
}
