.about {
}

.about__header {
  /* background-image: url("../../images/about/menInstalling.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* filter: brightness(0.8); */
}

.about__header__header {
  margin: 0;
  text-align: center;
}

.about__header__subtitle {
  font-family: "Tilt Neon", sans-serif, Arial;
  margin: 0;
  text-align: center;
  width: 1000px;
  font-size: 40px;
}

.about__showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 40px;
  width: calc(100% - 80px);
  /* background-color: #e5e5e5; */
  background-color: #4a92dc;
  margin: 0 auto 0;
}

.about__showcase-header {
  margin: 0 0 40px;
  color: #f1f2f3;
  font-weight: 700;
  font-size: 40px;
}

.about__showcase-items {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.about__showcase-background-one {
}

.about__showcase-background-two {
}

.about__showcase-item {
  display: flex;
  flex-direction: column;
  background-color: #f1f2f3;
  border: 0;
  padding: 5px 10px 5px;
  width: 140px;
  -webkit-box-shadow: 0px 0px 23px 1px rgba(0, 0, 8, 0.56);
  -moz-box-shadow: 0px 0px 23px 1px rgba(0, 0, 8, 0.56);
  box-shadow: 0px 0px 23px 1px rgba(0, 0, 8, 0.56);
}

.about__showcase-item__title {
  margin: 0;
  text-align: center;
  color: hsl(345deg 100% 47%);
  font-weight: 700;
  font-size: 30px;
}

.about__showcase-item__subtitle {
  margin: 0;
  text-align: center;
  font-weight: 500;
}

.about__what {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 80px);
  margin: 0 auto 0;
}

.about__what-text {
  width: 500px;
}

.about__what-text__header {
}

.about__what-text__title {
}

.about__what-text__subtitle {
}

.about__what-text__paragraph {
}

.about__what-icons {
  width: 500px;
}
