.header {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-between;
  padding: 0 40px 0;
  background: #00294b;
  height: 75px;
  align-items: center;
}

.header__image {
  cursor: pointer;
  height: 40px;
  width: 250px;
}

.header__navbar {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 30px;
  list-style-type: none;
  font-size: 24px;
  color: #ffffff;
  margin: 0;
  justify-content: center;
}

.header__list-item {
  cursor: pointer;
  color: #fefefa;
  transition: color 0.15s ease-in;
}

.header__list-item:hover {
  /* color: #4c92d8; */
  color: #c50b30;
}

.header__icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

.header__icon {
  cursor: pointer;
  height: 26px;
}
