.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px 0;
  background: #00294b;
  height: 90px;
  align-items: center;
}

.header__icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
}

.header__icon {
  cursor: pointer;
  height: 26px;
}

.header__logo {
  height: 70px;
  cursor: pointer;
  position: relative;
  z-index: 4;
}

.header__navbar {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 30px;
  list-style-type: none;
  font-size: 24px;
  color: #ffffff;
  margin: 0;
  justify-content: center;
}

.header__list-item {
  cursor: pointer;
  color: #fefefa;
  transition: all 0.15s ease-in;
  font-family: "Rubik", sans-serif, Arial;
}

.header__list-item:hover {
  transform: translateY(-3px);
  /* color: #4c92d8; */
  /* color: #c50b30; */
}

@media screen and (max-width: 1300px) {
  .header__navbar {
    position: relative;
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .header__logo {
    height: 60px;
  }
}
