.main-reviews {
  margin: 40px 0 40px;
}

.main-reviews__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 80px);
  margin: auto;
}

.main-reviews__review {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 20px 0;
  padding: 85px;
  text-align: center;
  flex: 1;
  background-color: #e5e5e5;
}

.main-reviews__quote {
  margin: 0;
  font-family: "Lora", serif;
  font-size: 22px;
  letter-spacing: 0.75px;
}

.main-reviews__author {
  margin: 0;
  font-size: 25px;
  letter-spacing: 0.05em;
  white-space: pre-wrap;
}

.main-reviews__back-button {
  background: url("../../images/icons/iconLeftArrow.png") center no-repeat;
  height: 46px;
  width: 46px;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

.main-reviews__forward-button {
  background: url("../../images/icons/iconRightArrow.png") center no-repeat;
  height: 46px;
  width: 46px;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}
