.k-cabinets {
}

.k-cabinets__parallax {
  height: 500px;
  width: 100%;
}

.k-cabinets__first-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 600px;
  width: calc(100% - 80px);
  margin: 0 auto 0;
}

.k-cabinets__first-section__description {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.k-cabinets__first-section__header {
  font-size: 50px;
  letter-spacing: -2px;
  line-height: 60px;
  margin: 0;
}

.k-cabinets__first-section__paragraph {
  margin: 20px 0 30px;
  font-size: 20px;
}

.k-cabinets__first-section__button {
  width: 50%;
}

.k-cabinets__first-section__image {
  max-width: 800px;
  height: 450px;
  margin: auto auto auto 0;
}

.k-cabinets__color-section {
  background-color: #e5e5e5;
  padding-bottom: 80px;
  width: calc(100% - 80px);
  margin: 0 auto 80px;
}
