.k-cabinets {
}

.k-cabinets__parallax {
  height: 500px;
  width: 100%;
}

.k-cabinets__first-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
}

.k-cabinets__first-section__description {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.k-cabinets__first-section__header {
}

.k-cabinets__first-section__paragraph {
}

.k-cabinets__first-section__image {
  max-width: 500px;
  margin: auto;
}

.k-cabinets__color-section {
  background-color: #e5e5e5;
  padding-bottom: 80px;
  width: calc(100% - 100px);
  margin: 0 auto 80px;
}
