.benefits {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.benefits__container {
  width: calc(100% - 80px);
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits__header {
  text-align: center;
  margin: 50px 0 50px;
}

.benefits__text-container {
  display: flex;
  flex-direction: row;
  margin: 0 0 80px;
  max-width: 1300px;
  gap: 50px;
}

.benefits__column {
  max-width: 300px;
}

.benefits__column-title {
  text-align: center;
  margin: 0 0 20px 0;
}

.benefits__column-paragraph {
  text-align: center;
  margin: 0;
}
