.benefits {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.benefits__container {
  width: calc(100% - 80px);
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits__header {
  text-align: center;
  margin: 50px 0 50px;
  width: calc(100% - 50px);
}

.benefits__text-container {
  display: flex;
  flex-direction: row;
  margin: 0 0 80px;
  max-width: 1300px;
  gap: 80px;
}

.benefits__column {
  max-width: 300px;
}

.benefits__column-title {
  text-align: center;
  margin: 0 0 20px 0;
}

.benefits__column-paragraph {
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .benefits__text-container {
    gap: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .benefits__text-container {
    flex-direction: column;
    width: calc(100% - 100px);
    align-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  .benefits__column {
    width: 100%;
    max-width: fit-content;
  }
}
